<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="auth-enabled" content={to_string(Dala.Auth.enabled?())} />
    <meta name="dala-version" content={to_string(Application.spec(:dala, :vsn))} />
    <%= if assigns[:user_email] do %>
      <meta name="user-email" content={@user_email} />
    <% end %>
    <%= if assigns[:socket_token] do %>
      <meta name="socket-token" content={@socket_token} />
    <% end %>
    <.live_title default="Dala">Dala</.live_title>
    <script phx-track-static src={~p"/assets/theme.js"}>
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
  </head>
  <body>
    {@inner_content}
    <script defer phx-track-static type="module" src={~p"/assets/index.js"}>
    </script>
  </body>
</html>
